html,
body {
    height: 100%;
}

a {
    color: #0EC9D0;
}

a:hover {
    color: #0EC9D0;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 270px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.btn {
    padding: 6px 14px;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

#main-bookmark {
    top: 0;
    left: 15%;
    position: absolute;
    width: 85px;
    height: 100px;
    padding: 30px 5px 0 0;
    text-align: center;
    background: url("../img/bookmark.png") no-repeat;
}

#main-bookmark a {
    color: #FFFFFF;
}

/* Palette begin */

/* Color 1 */
.color-1-greenyellow {
    color: #B4FC14;
}

.background-color-1-greenyellow {
    background-color: #B4FC14;
}

/* Color 2 */
.color-2-olivegreen {
    color: #A6F868;
}

.background-color-2-olivegreen {
    background-color: #A6F868;
}

/* Color 3 */
.color-3-springgreen {
    color: #22F688;
}

.background-color-3-springgreen {
    background-color: #22F688;
}

/* Color 4 */
.color-4-turquoise {
    color: #37E5F0;
}

.background-color-4-turquoise {
    background-color: #37E5F0;
}

/* Color 5 */
.color-5-aquamarine {
    color: #6AFEDA;
}

.background-color-5-aquamarine {
    background-color: #6AFEDA;
}

/* Color 6 */
.color-6-cyan {
    color: #0EC9D0;
}

.background-color-6-cyan {
    background-color: #0EC9D0;
}

/* Palette End */

@media (max-width: 768px) {
    .container {
        width: 50%
    }
}

.loading {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 25%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);

    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;

    background-size: 40px 40px;
}

#login-popup {
    top: 0;
    position: absolute;
    display: none;
    width: 200px;
}

#main-menu-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
}

#main-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
}

#main-menu-avatar {
    width: 100px;
    height: 100px;
    border: 1px solid #000000;
}

#main-menu li {
    margin: 2px 0;
}

#main-menu a {
    display: block;
    color: #FFFFFF;
}

#main-menu a:hover {
    background-color: #37E5F0;
}

#main-menu a.active {
    color: #0EC9D0;
    background-color: #FFFFFF;
}

#main-menu li span {
    margin: 0 5px;
    padding: 5px 0;
}

#main-response {
    margin-top: 5px;
    display: none;
}

#main-response > div {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

#main-response li {
    margin: 2px 0;
}

#main-response a.hover {
    text-decoration: underline;
}

#main-response a.copied {
    color: #22F688;
}

#main-response li span {
    margin: 0 5px;
    padding: 5px 0;
}

#short_uri {
    font-size: 18px;
    font-weight: bold;
}

#qrcode {
    width: 124px;
    height: 124px;
}

#bookmark-element {
    display: none;
}

.bookmark-element {
    height: 93px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
}

.bookmark-element > div {
    float: left;
    margin-right: 5px;
}

.bookmark-element-title {
    float: left;
    width: 200px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.bookmark-element-date {
    margin-top: 5px;
    font-size: 11px;
    color: #CCCCCC;
}

.bookmark-element-link {
    display: block;
    float: left;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
}

.bookmark-element-description {
    width: 300px;
    height: 81px;
    overflow: hidden;
    padding: 0 4px;
}

.bookmark-element-description:hover {
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    border-radius: 4px;
}

.bookmark-element-description-div {
    position: absolute;
    display: none;
    z-index: 2;
}

.bookmark-element-description-div textarea {
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    border-radius: 4px;
    width: 300px;
    height: 200px;
}

.bookmark-element-qrcode-div {
    position: absolute;
    display: none;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 1px;
    z-index: 2;
}

.grab-text {
    background-image: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #FFFFFF 45%, #FFFFFF 100%);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #FFFFFF 45%, #FFFFFF 100%);
    margin-left: -25px;
    pointer-events: none;
    float: left;
    clear: right;
    height: 20px;
    width: 70px;
}

.bookmark-element-uri {
    font-size: 18px;
    font-weight: bold;
}

.bookmark-element li {
    margin: 2px 0;
}

.bookmark-element li span {
    margin: 0 5px;
}

.bookmark-element a.hover {
    text-decoration: underline;
}

.bookmark-element a.copied {
    color: #22F688;
}

#div {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #0EC9D0;
    z-index: 1;
    display: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    -moz-opacity: 0.10;
    -khtml-opacity: 0.10;
    opacity: 0.10;
}